* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #20B15A;
    --primary-light: #D7F5DC;
    --primary-100: #FAFFFB;
    --accent: #F55F1D;
    --white: #fff;
    --black: #000;

    --footer-bg: #00CA72;

    --nav-link-color: var(--black, #000);
    --text-color: var(--black, #000);
    --heading-color: var(--black, #000);
    --text-gray: #8B8B8B;



    --border-radius-input: .89rem;
    --border-radius: 1.25rem;
    --border-radius-btn: .73em;

    --family-primary: 'Mulish', sans-serif;
    --family-heading: 'Poppins', sans-serif;

    --fs-1: 1.875rem;
    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
    --fs-4: 1.13rem;
    --fs-5: 1rem;
}


body {
    font-family: var(--family-primary, sans-serif);
    font-size: 1.13rem;
    line-height: 1.4;
}

a {
    color: currentColor;
    text-decoration: none;
    transition: .4s all;
}

:where(h1, h2, h3):not(:last-child) {
    margin-bottom: 1.5rem
}

:where(p, h4, h5, h6, li, ul):not(:last-child) {
    margin-bottom: 1.25rem;
}



/* Typography */
/* Fontfamily   */

.ff-primary {
    font-family: var(--family-primary);
}

.ff-heading {
    font-family: var(--family-heading);
}

/* Font sizes 16, 50, 20, 18, 24, 30, 40 */

.display-1 {
    font-size: 3.13rem;
    line-height: 1.3;
}

.display-2 {
    font-size: 2.5rem;
}

.h1,
.h2,
.h3,
h4,
.h5,
.h6 {
    font-family: var(--family-heading);
}

.h1 {
    font-size: var(--fs-1, 1.89rem);
}

.h2 {
    font-size: var(--fs-2, 1.5rem);
}

.h3 {
    font-size: var(--fs-3, 1.25rem);
}

.h4 {
    font-size: var(--fs-4, 1.13rem);
}

.h5 {
    font-size: var(--fs-5, 1rem);
}

.fs-1 {
    font-size: var(--fs-1, 1.89rem);
}

.fs-2 {
    font-size: var(--fs-2, 1.5rem);
    ;
}

.fs-3 {
    font-size: var(--fs-3, 1.25rem);
}

.fs-4 {
    font-size: var(--fs-4, 1.13rem);
}

.fs-5 {
    font-size: var(--fs-5, 1rem);
    ;
}

/* Colors */
.bg-primary {
    background-color: var(--primary);
    color: #fff;
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-primary-100 {
    background-color: var(--primary-100);
}

.text-primary {
    color: var(--primary)
}

/* Buttons */
.btn {
    --border-color: transparent;
    font-size: var(--fs-3);
    border: 1px solid var(--border-color);
    background-color: var(--btn-bg, transparent);
    color: var(--btn-color, var(--text-color, black));
    padding: var(--btn-padding-block, 1em) var(--btn-padding-inline, 1.5em);
    border-radius: .63em;
}

.btn-outline-primary {
    --border-color: var(--primary);
    color: var(--nav-link-color);
}

.btn-primary,
.btn-accent:hover {
    --btn-bg: var(--primary);
    --border-color: var(--primary);
    color: var(--white);
}

.btn-accent {
    --btn-bg: var(--accent);
    --border-color: var(--accent);
    color: var(--white);
}

.btn-primary:hover,
.btn-outline-primary:hover {
    --btn-bg: var(--accent);
    --border-color: var(--accent);
    color: var(--white);
}

.btn-sm {
    font-size: var(--fs-5);
    --btn-padding-block: .6em
}

/* Utility Classes */

img {
    max-width: 100%;
    height: auto;
}

/* Utility Display */
.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

/* Utility Position */
.fixed {
    position: fixed;
    z-index: 10;
}

.sticky {
    position: sticky;
    z-index: 10;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0
}

.left-0 {
    left: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.inset-0 {
    inset: 0
}

.top-100 {
    top: 100%
}

/* Utility Width */
.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

/* Utility List */
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}

/* Utility Border radius */
.rounded-circle {
    border-radius: 50%;
}



/* Container */

.container {
    padding-inline: 1rem;
    width: 100%;
    --container-width: 100%;
    max-width: var(--container-width);
    margin-inline: auto;
}

.container-right {
    max-width: calc(100vw - ((100vw- var(--container-width))/2));
    margin-right: 0;
}

@media (min-width: 576px) {
    .container {
        --container-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        --container-width: 740px;
    }
}

@media (min-width: 992px) {
    .container {
        --container-width: 920px;
    }
}

@media (min-width: 1200px) {
    .container {
        --container-width: 1100px;
    }
}

@media (min-width: 1400px) {
    .container {
        --container-width: 1240px;
    }
}



/* Header */
header {
    padding-block: var(--fs-4)
}

header nav>ul {
    column-gap: 1.875rem
}

.header li {
    margin-bottom: 0;
}

header li a {
    padding: .67rem;
    font-size: var(--fs-5, 1rem);
    display: block;
    color: var(--nav-link-color);
}

.submenu {
    background-color: var(--white);
    min-width: 220px;
    padding-block: .5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .34);
    display: none;
    border-radius: .5em;
}

.submenu a {
    /* white-space: nowrap; */
    display: block;
    padding: .5rem 1rem
}

.header li:hover>.submenu {
    display: block;
}


.menubar-toggler {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 2rem;
    height: 1.5rem;
}

.menubar-toggler span {
    min-width: 100%;
    height: 2px;
    display: block;
    background: currentColor;

}

@media (max-width: 991.98px) {
    .menubar-toggler {
        display: flex;
    }

    header nav {
        position: relative;
    }

    header .menu-bar {
        display: none;
        position: absolute;
        top: calc(100% + var(--fs-4));
        width: 100%;
        padding: 1.5rem;
        background: var(--white);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, .23);
        flex-direction: column;
        align-items: stretch;
        row-gap: .5rem;
        border-radius: var(--border-radius);
    }

    header .menu-bar .btn {
        display: inline-block;
    }
}

@media (min-width: 992px) {
    /* header .menu-bar{
    display: flex;
   }  */
}

/* Banner */
.top-banner {
    padding-bottom: 2rem
}

.top-banner .container {
    gap: 3rem;
}

.top-banner {
    gap: 3rem;
}

.top-banner .left-panel {
    width: 45%;
}

.top-banner .banner-heading {
    margin-bottom: .67rem;
}

.top-banner .banner-text {
    margin-bottom: 2.35rem;
}

.logos {
    background: var(--white);
    padding-block: 2.7rem
}

.logos ul {
    display: grid;
    --columns: 5;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.logos ul li {
    margin-bottom: 0;
}


/*testimonials*/
.swiper-buttons .swiper-button-next,
.swiper-buttons .swiper-button-prev {
    right: auto;
    left: auto;
    width: 2.5rem;
    /* aspect-ratio: 1/1; */
    height: 2.5rem;
    position: relative;
    top: 0;
    margin: 0;
    background-color: transparent;
    border-color: 1px solid var(--black);
    border-radius: 4rem;
    color: var(--black);
    --swiper-navigation-size: 20px;
    font-weight: 600;
    z-index: 5;
}

.swiper-buttons .swiper-button-next:hover,
.swiper-buttons .swiper-button-prev:hover {
    background-color: var(--primary-light);
    border-color: var(--primary-light);
}

.swiper-buttons {
    gap: var(--fs-3);
}

.heading-wrapper {
    gap: var(--fs-3);
    flex-direction: column;
    margin-bottom: 2.5rem;
    align-items: center;
}

.heading-wrapper .section-heading {
    margin-bottom: 0;
}

.testimonials .section-heading {
    max-width: 35%;
}

.testimonial {
    padding: 2.5rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
}


.testimonials .swiper {
    padding-bottom: 10px;
    padding-left: 4px;

}

.testimonials {
    padding-block: 7.5rem 7rem;
}


.testimonials p span {
    display: block;
}

.testimonials .profile-icon {
    margin-right: 0.63rem;
}



@media (min-width: 768px) {
    .testimonials .section-heading {
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .heading-wrapper {
        flex-direction: row;
        margin-bottom: 5.6rem;
    }
    .testimonials .section-heading {
        max-width: 45%;
    }

    .swiper-buttons .swiper-button-next, .swiper-buttons .swiper-button-prev{
        width: 3rem;
        height: 3rem;
    } 
}

@media (min-width: 1200px) {
    .testimonials .section-heading {
        max-width: 35%;
    }

        .swiper-buttons .swiper-button-next, .swiper-buttons .swiper-button-prev{
        width: 4rem;
        height: 4rem;
        font-size: 24px;
    } 
}

@media (min-width: 1400px) {
    .testimonials .section-heading {
        max-width: 30%;
    }

        .swiper-buttons .swiper-button-next, .swiper-buttons .swiper-button-prev{
        width: 5rem;
        height: 5rem;
        font-size: 30px;
    } 
}


/*Newsletter(subscribe)*/

.subscribe{
    padding-block: 5.5rem  9rem;
}


.subscribe .section-heading{
    margin-inline: auto;
    text-align: center;
    margin-bottom: 2.5rem;
    /* max-width: 40%; */
}

.subscribe .btn{
    font-size: var(--fs-5);
}

.subscribe form{
    border: 1px solid black;
    padding: .25rem;
    max-width: 50%;
    margin-inline:auto ;
    border-radius: var(--border-radius-input);
    justify-content: space-between;
}

.subscribe input:not([type="submit"]){
    padding: .4rem 1rem;
    border: none;
    width: 100%;
    max-width: calc(100% - 118px);
}

.subscribe :focus{
    outline: none;
    border: none;
    box-shadow: none;
}


@media (min-width: 992px){
    .subscribe form{
        max-width: 600px;
    }
}

/* Footer CSS */
footer {
    background: var(--footer-bg, #00CA72);
}

footer section {
    padding-block: 5rem 3rem;
}

footer {
    font-size: var(--fs-3);
}

footer section+p {
    padding-block: 2rem 2rem;
}

footer section div {
    max-width: 20rem;
}

footer section div:first-child p {
    margin-block: 1.5rem;
}

footer :where(ul, address) {
    margin-top: 1rem;
}

footer address {
    font-style: normal;
}

.social-icons {
    gap: 1rem;
}

.social-icons a {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
}

@media (max-width: 991.98px) {
    footer section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 2rem;
        padding-block: 3rem 1rem;
    }

    footer .social-icons {
        justify-content: center;
    }

    footer p {
        text-align: center;
    }
}