@import "./_variable.scss";
@import "./_mixin.scss";

.h1-color {
    color: map-get($original-colors,'$blue-color')
}

.main_ul_four_links {
    padding-left: 0;
}

.header_nav_links {
    display: flex;
    padding: 0;

    a {
        display: block;
        margin: $rem-05;
        padding: $rem-05;
    }
}

.btn-primary{
    @include button($rem-05,dotted,map-get($original-colors,'$red-color'))
}

.btn-accent{
    @extend .btn-primary;
    color: map-get($original-colors,'$blue-color');
}