* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

.flex-container{
    display: flex;
    gap:5px
}

.flex-container .card{
    border: 2px solid red;
    width: 33.3%;
}

.flex-container .card-body{
    padding: 10px;
}

/*:not(img) will not work because it will check whatever card is not image, 
  here div is not image, inside div it has image so we are using :not(:has(img))*/
.flex-container .card:not(:has(>img)){ 
    background-color: orange;
}


/*specificity is 11*/
/* :is(.flex-container, .flex-container-two) h2{
    color: rgb(61, 61, 245);
} */


/*specificity is 1, so this will be applied on h2 outside containers*/
/* h2{
    color: purple;
} */


/*specificity is 0 +  = 1*/
:where(.flex-container, .flex-container-two) h2{
    color: rgb(61, 61, 245);
}


/*specificity is  also 1, so specificity is same cascade rule comes into effect ,so this will be applied on all h2 where will be overidden*/
h2{
    color: purple;
}